.button {
    padding: 15px 20px;
    background: #0f63e0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.button_text {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.button:hover {
    background: #0a4d88;
    transition: background 0.25s ease-in;
}